@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}


.developer-link {
  color: #604ff7;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.developer-link:hover {
  color: #ff6200;
  text-shadow: 0 0 8px rgba(255, 68, 0, 0.6);
  transform: translateY(-2px);
}

.developer-credit {
  margin-left: 6px;
}